.align-self-center {
  align-self: center !important;
}

/* User defined styles */
.content a.popup+em {
  text-align: right;
  font-style: italic;
  font-size: 0.7rem;
}

/* sidebar */
#avatar {
  margin: 0 auto;
}

#sidebar .sidebar-bottom {
  padding-left: 0;
}

@media (min-width: 1650px) {
  #sidebar .sidebar-bottom {
    padding-left: 0;
  }
}
